
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ionic-framework</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  Ionic is a complete open-source SDK for hybrid mobile app development created by Max Lynch, Ben Sperry, and Adam
  Bradley of Drifty Co. in 2013.[3] The original version was released in 2013 and built on top of AngularJS and Apache
  Cordova. However, the latest release was re-built as a set of Web Components, allowing the user to choose any user
  interface framework, such as Angular, React or Vue.js. It also allows the use of Ionic components with no user
  interface framework at all.[4] Ionic provides tools and services for developing hybrid mobile, desktop, and
  Progressive Web Apps based on modern web development technologies and practices, using Web technologies like CSS,
  HTML5, and Sass. In particular, mobile apps can be built with these Web technologies and then distributed through
  native app stores to be installed on devices by utilizing Cordova or Capacitor.[5]
</ion-content>