<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fundamentals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<p>this is my first application
    
</p>
</ion-content>
